@model SampleStore.WebUI.Models.PageLinks


<table>
    <tr>
    <td class="pageLinksTotal">@Model.TotalPages</td>

    @{
        // Число отображенных страниц
        int pagesSeen = 3;
        // Отобразим 
        for (int pageNumber = 0; pageNumber < Model.TotalPages;pageNumber++ )
        {
            
        }
    }
    <td>@Model.TotalPages</td>

    </tr>
</table>

