@model SampleStore.WebUI.Models.PagingInfo

<table>
    <tr>
        <td class="pageLinksTotal">@Model.TotalPages</td>
        <td>Начало</td>

        <!-- Отобразим несколько видимых страниц -->
        @{
            for (int pageNum = 0;pageNum < Model.TotalPages;pageNum++)
            {
                <td>pageNum</td>
            }
        }

    <td>[@Model.SelectedPage]</td>
        <td>Конец</td>

    </tr>
</table>

