@model SampleStore.WebUI.Models.PageViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Список товаров:</h2>

@foreach (var p in Model.Products)
{
    <b>@p.Name -</b><blockquote>@p.Description</blockquote><br />
   
    <div>Стоимость @p.Price.ToString("c")</div>
    
    <hr />
}

