<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>THIS IS HEADER</header>
    <div id="mainMenu">HERE IS MAIN MENU</div>
    <h2>_START _OF_BODY_</h2>

    <div>
        @RenderBody()
    </div>
    <h2>_END _OF_BODY_</h2>
    <footer>Here is contacts and so on...</footer>
</body>
</html>